*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato";
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#24292E;
    color: #ffffff;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.left{
    display: flex;
    align-items: center;
}
.left i{
    margin-right: 20px;
    font-size: 25px;
}
.right i {
    font-size: 25px;
    margin: 0 5px 0 5px;
}
.header i:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.showcase{
    background-color: #F3F3F3;
    height: 180px;
}

.showcase__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 180px;
        
    }
    .showcase__info h2{
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 0.4rem;
        font-family: 'Lato';
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .showcase__info p{
        font-size: 20px;
        letter-spacing: 0.1rem;
        font-family: 'Lato';
        text-transform: uppercase;
        opacity: 0.6;
        filter: alpha(opacity=30);
    }
    .main--container{
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        box-shadow: 2px 2px 2px 2px lightgrey;
        height: 660px
    }
    .container:hover{
        box-shadow: 5px 5px 5px 5px lightgray;
    }
    .image--container img {
        height: 250px;
        width: 100%;
    }
    .info--container p {
        font-family:'Times New Roman', Times, serif;
        font-size: 18px;
        text-align: justify;
        text-justify: inter-word;
        padding: 20px;
    }
    .info--container h2 {
        margin-top: 20px;
        text-align: center;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
    .btn{
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        background-color: #24292E;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 6px;
        box-shadow: 2px 2px 2px 2px lightgrey;
}
.btn i {
    margin-right: 15px;
    font-size: 28px;
}

.main--home{
    background:  linear-gradient(to bottom, rgba(49,49,49, 0.5), rgba(49,49,49, 0.73)), url("../img/technology-code-coding-computer.jpg") no-repeat center center/cover;
}
.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 50vh;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.groups{
display: flex;
gap: 15px;
margin-top: 50px;
}
.groups i{
color: black;
font-size: 40px;
}
.groups a i:hover{
box-shadow:0 5px  lightgrey;
}



@media only screen and (max-width: 400px) {
.header .right i {
    font-size: 20px;
    margin: 5px;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .showcase{
    background-color: #F3F3F3;
}

    .showcase__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 180px;
        
    }
    .showcase__info h2{
        margin-top: -30px;
        margin-bottom: 30px;
        font-size: 25px;
        letter-spacing: 0.4rem;
        font-family: 'Lato';
    }
    .showcase__info p{
        font-size: 12px;
        letter-spacing: 0.1rem;
        font-family: 'Lato';
    }

}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #F2F2F2;
}
.navbar a{
    color: #757575;
}
.image__showcase img {
    width: 100%;
    object-fit: contain;
    height: 50%;
}
.sidebar{
    width: 300px;
    position: relative;
    display: none;
}
.sidebar--image__container{
    height: 250px;
    
}
.backgroun--image {
    height: 250px;
    width: 300px;
}
.backgroun--image  img {
    width: 100%;
    -webkit-filter: grayscale(100%); 
     filter: grayscale(100%);
}
.profile__image{
    position: absolute;
    top: 30px;
    left: 100px;
}
.profile__image .info{
    margin-top: 10px;
    margin-left: -38px;
    color: #ffffff;
}
.profile__image .info h5{
    font-family: 'Lato';
    font-size: 17px;
}
.profile__image .info p {
    margin-left: 28px;
}
.profile__image img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: contain;
}
.sidebar--navbar__container{
    padding: 30px;
    margin-top: -25px;
}
.sidebar--navbar__container .navbar .lists li {
    width: 100%;
    padding: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lists li a i{
    margin-right: 25px;
    font-size: 18px;
    color: #757575;
}
li:hover {
    background-color: #F2F2F2;
}
.left{
    position: relative;
}
.sidebar{
    position: absolute;
    top: 0;
    z-index: 9999;
    background-color:#ffffff;
    height: 100vh;
}
.line{
    margin-top: 20px;
}
.close i{
    position: absolute;
    top: -20px;
    left: 165px;
    font-size: 26px;
    color: #ffffff;
}
.close i:hover{
    opacity: 0.3;
    filter: alpha(opacity=30);
}


@media only screen and (max-width: 414px){
    .image__showcase img {
        height: auto;
    }
}

@media only screen and (max-width: 500px) {

    .name{
        display: none;
    }
    .info--container h2{
        font-size: 18px;
    }


    .buttons{
        width: 100%;
    }

    .buttons .btn{
        display: flex;
        flex-direction: row;
        padding: 5px;

    }

    .showcase__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 180px;
        
    }
    .showcase__info h2{
        margin-top: -30px;
        margin-bottom: 30px;
        font-size: 25px;
        letter-spacing: 0.4rem;
        font-family: 'Lato';
    }
    .showcase__info p{
        font-size: 12px;
        letter-spacing: 0.1rem;
        font-family: 'Lato';
    }


}