.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:800px;
    margin: 0 auto;
    height:87vh;    
    //box-shadow: rgba(72, 94, 116, 0.7) 0px 0px 20px 0px;
    @media screen and (max-width: 820px){
    
      width:100%
    }

    &__info{
        font-size: 1.5rem;
        padding-bottom: 3rem;
        text-align: center;
        font-family: 'Lato';

        h1{
            margin-bottom:0.8rem;
        }
    }

    &___containers{
        width:50%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-size: 6rem;


        @media screen and (max-width: 820px){
          
            font-size: 5rem;
          }

        div{
            margin-left: 50px;
            &:hover{
                filter: drop-shadow(rgb(34, 34, 34) 5px 5px 5px);
            }
            @media screen and (max-width: 820px){
                margin-left: 10px;
        }
        }
    }
}

