.header{
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    height: 4rem;
    color: $color-whight;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position:fixed;
    width:100%;
    z-index: 1;
}
.header .header--logo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header .header--logo label i{
    padding-left: 1.5rem;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: $color-whight;
}
.header .header--logo a i:hover{
    color:$color-secondary;
}
.header .header--logo h3{
    font-family: 'Lato';
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 1.5rem;
}
.header .header--logo--links{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:  1.5rem;
}
.header .header--logo--links a {
    color:$color-whight;
}
.header .header--logo--links a:hover{
    color:$color-secondary;
}
.header .header--logo--links i{
    font-size:  1.5rem;
    margin-right: 1.5rem;
}

@media screen and (max-width: 600px) {
    .header .header--logo h3 span{
        display:none
    }
}

@media screen and (max-width: 500px) {
    .header .header--logo h3{
        display: none;
    }
    .header .header--logo--links{
        margin-right:  0.5rem;
    }
    .header .header--logo--links i{
        font-size:  1.5rem;
        margin-right: 1rem;
    }
}